* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  text-align: center;
  font-family: Montserrat,Arial,sans-serif;
}

h1{
  font-size: 2em;
}

h2{
  font-size: 1.5em;
}

h3{
  font-size: 1.125em;
}

h4{
  font-size: 1em;
}

h5{
  font-size: 0.75em;
}

h6{
  font-size: 0.625em;
}

a{
  text-decoration: none;
  color: white;
}

input{
  padding: 15px 19px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  outline: none;
  width: 300px;
  color: white;
}

input::placeholder {
  color: white;
}

.input-group{
  margin-bottom: 10px;
}

.btn{
  padding: 15px 48px;
  border-radius: 30px;
  border: none;
  width: 300px;
  margin-top: 5vh;
  background: #f96332;
  color: white;
  outline: none;
  font-family: Montserrat,Arial,sans-serif;
}

.btn:hover{
  background: #ff784b;
}

.form-error{
  color: #f96332;
  margin-bottom: 20px;
}

.main-text{
  font-size: 30px;
  padding-top: 10vh;
}

.main-text-sub{
  font-size: 18px;
  color: rgba(245, 245, 245, .8);
}

.background-image{
  position: absolute;
  z-index: -1;
  background-image: url("/images/register-background.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  opacity: 0.6;
}

@media (max-width: 640px) {

  .main-text{
    font-size: 18px;
  }

  .main-text-sub{
    font-size: 12px;
  }

  input{
    width: 250px;
  }

  .btn{
    width: 250px;
  }

}


/* ユーザーフォーム */
.register-container{
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: white;
  background: linear-gradient(0deg,rgba(44,44,44,.2),rgba(224,23,3,.6));
}

.register-form{
  padding-top: 20vh;
}



/* ヘッダー */

.header{
  width: 100vw;
  position: fixed;
  color: white;
  display: flex;
  justify-content: flex-end;
  padding-right: 100px;
}

.nav-link{
  margin-right: 10px;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  border-radius: 3px;
  margin-top: 30px;
  transition: .5s ;
}

.nav-link:hover{
  background: rgba(255, 255, 255, 0.3);
}

@media (max-width: 640px) {

  .header{
    padding-right: 5px;
  }

  .nav-link{
    margin-right: 5px;
    margin-top: 15px;
  }

}

/* トップページ */
.top-container{
  width: 100vw;
  min-height: 100vh;
  color: white;
  background: linear-gradient(0deg,rgba(44,44,44,.2),rgba(224,23,3,.6));
}

.add-goal-btn{
  background: #ff3636;
  margin-top: 10vh;
  margin-bottom: 5vh;
}

.goal-index{
  display: flex;
  flex-direction: column;
  margin: 2vh auto 0;
  align-items: center;
  padding-bottom: 2vh;
}

.goal-link{
  width: 80vw;
  padding: 15px 20px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.1);
  margin: 1vh 0;
  overflow: hidden;
  white-space: nowrap;
  color: #2c2c2c;
}

.goal-link:hover{
  background: rgba(255, 255, 255, 0.5);
}

.add-goal-btn:hover{
  background: #ff5353;
}

/* goal create画面 */

.goal-form{
  padding-top: 25vh;
}

.input-what{
  margin-top: 30px;
  width: 80vw;
}

@media (max-width: 640px) {
  .input-what{
    margin-top: 15px;
    width: 90vw;
  }
}
